*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@white: #fff;

body {
  margin: 0;
  background-color: @white;
  border: 1px solid blue;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 56px 296px 32px;
  border: 1px solid green;
  min-height: 135px;

  h1 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #19191E;
    border: 1px dashed green;
    min-width: 245px;
  }

  .all-products-btn {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #8F8F9D;
    border: none;
    background-color: @white;
    border: 1px dashed green;
    min-width: 90px;
    margin-left: 24px;
  }

  p {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #4A4A4F;
    border: 1px dashed green;
    min-width: 1335px;
    margin-left: 0;
  }
}
// main {
//   display: flex;
//   border: 1px solid red;
// }

.wrapper {
  display: flex;
  border: 1px solid orange;
  margin: 32px 296px 72px;

  img {
    min-width: 490px;
    // height: 332px;
    border: 1px dashed orange;
    margin-left: 70px;
    margin-top: 36px;
  }

  .main-description {}

  .promo-btn {
    background: #FFAA00;
    opacity: 0.7;
    border: 1px solid white;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: @white;
    margin-left: 71px;
    margin-top: 19px;
    margin-bottom: 16px;
  }

  h2 {
    border: 1px dashed orange;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #19191E;
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 16px 71px;
  }

  p {
    border: 1px dashed red;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4F;
    flex: none;
    order: 1;
    align-self: center;
    margin-top: 16px;
    margin-left: 71px;
  }

  .specifications {
    border: 1px dashed orange;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: 71px;
  }

  .specification {
    display: flex;
    border: 1px dotted orange;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6C6C71;
    flex: none;
    order: 0;
    align-self: center;
    margin-bottom: 8px;
    margin-right: 32px;
  }

  .line {
    border-bottom: 1px solid #E1E1E6;
    margin-top: 33px;
    margin-left: 71px;
    width: 656px;
  }
  // .dotted-line-1 {
  //   width: 100px;
  //   border-bottom: 1px dotted #8F8F9D;
  // }
  //
  // .dotted-line-2 {
  //   border-bottom: 1px dotted #8F8F9D;
  // }
  //
  // .dotted-line-3 {
  //   border-bottom: 1px dotted #8F8F9D;
  // }
  //
  // .dotted-line-4 {
  //   border-bottom: 1px dotted #8F8F9D;
  // }
}
